
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#flash-message
{
    width:50%;
    animation: flash 6s forwards;
    position: absolute;
    z-index: 10;
}
@keyframes flash {
    0% {opacity: 1;}
    100% {opacity: 0; display: none;}
}
.profile
{
    width:45%;
    height:400px;
    margin-top:5vh;
    float:left;
}
.p
{
    float:right;
}
.post
{
    padding:10px;
    margin-top:5vh;
    width:45%;
}
