
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#flash-message
{
    animation: flash-message 4s forwards;
    position: absolute;
}
@keyframes flash-message {
    0% {opacity: 1;}
    100% {opacity: 0; display: none;}
}
.card {

}
